# Dependencies
node_modules/

# Vercel
.vercel/

# Environment variables — never commit these
.env
.env.local
.env.*.local
*.env

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor files
.vscode/
.idea/
*.suo
*.user
*.swp
